.Info-contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.btn-siguiente{
    font-weight: bolder;
    color: #415032;
    padding: .3rem 1.2rem;
    border: 2px solid #000;
    transition: 1s background, 1s box-shadow, .5s transform;
    transform: translateY(-1000px);
}

.btn-siguiente:hover{
    cursor: pointer;
}

.btn-activado{
    background-color: #CEFF9C;
    box-shadow: 4px 4px #415032, 4px 4px 0px 1px #000;
    transform: translateY(0px);
}