.contenedor-tablero{
    position: relative;
}

.cuadros-tablero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.btn-jugar{
    display: inline-block;
    color: #415032;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    border: 2px solid #000;
    background: #CEFF9C;
    padding: .5rem 3rem;
    border-radius: 25px;
    position: absolute;
    z-index: 100;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    box-shadow: 5px 5px #CEFF9C, 5px 5px 0px 2px #000;
    overflow: hidden;
}

.btn-jugar:hover{
    transition: .2s box-shadow;
    box-shadow: 5px 5px #415032, 5px 5px 0px 2px #000;
}

.btn-jugar:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 70px;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    transform: skewX(-30deg);
    animation-name: slide;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: infinite;
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
      );
}

.btn-jugar:hover::before{
    animation-duration: .8s;
}

@keyframes slide {
    0% {
    left: -200;
    top: 0;
    }
    100% {
    left: 200px;
    top: 0;
    }
}